@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
button {
  cursor: pointer;
}
img {
  margin: 2px;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.travel-control {
  position: absolute;
  top: 2;
  padding: 10px;
  top: 20px;
  z-index: 1;
  right: 20px;
  display: none;
}
#vehicle {
  position: fixed;
  top: calc(50% - 15px);
  left: calc(50% - 15px);
  font-size: 30px;
  cursor: grabbing;
  z-index: -1; /* hidden */
}
#media-popup {
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.2);
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #cccccc;
}
.ol-popup:after, .ol-popup:before {
  top: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.ol-popup:after {
  border-top-color: white;
  border-width: 10px;
  left: 50%;
  margin-left: -10px;
}
.ol-popup:before {
  border-top-color: #cccccc;
  border-width: 11px;
  left: 50%;
  margin-left: -11px;
}
#popup-controls {
  margin-top: -2px;
  text-align: right;
}
#popup-caption {
  margin: 5px;
}
.ol-popup-closer {
  text-decoration: none;
}
.ol-popup-closer:after {
  content: "✖";
}
#popup-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#popup-images {
  display: flex;
  overflow-x: hidden;
  width: 100%;
}
button.carousel {
  height: 50px;
  width: 50px;
  border-radius: 25px;
  top: calc(50% - 25px);
  position: absolute;
  background: rgba(100,100,100,0.5);
  color: white;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  display: none;
}
#next-image {
  right: 15px;
}
#previous-image {
  left: 15px;
}
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.spinner:after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 40px;
  height: 40px;
  margin-top: -20px;
  margin-left: -20px;
  border-radius: 50%;
  border: 5px solid rgba(180, 180, 180, 0.6);
  border-top-color: rgba(0, 0, 0, 0.6);
  animation: spinner 0.6s linear infinite;
}

