@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}
#tour {
  position: absolute;
  right: 20px;
  top: 2;
  padding: 10px;
  top: 20px;       
}
